---
layout: default
---

<div class="home">
    <h1 class="page-heading">{{ site.heading | default: site.title }}</h1>
    
    {{ content }}

    {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">Latest Posts</h2>
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <h3>
                {% if post.external_link %}
                <a class="post-link" href="{{ post.external_link }}" target="_blank">
                    {{ post.title | escape }}
                </a>
                {% else %}
                <a class="post-link" href="{{ site.baseurl }}/_site{{ post.url }}">
                    {{ post.title | escape }}
                </a>
                {% endif %}
            </h3>
            <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%B %-d, %Y" }}
                </time>
            </div>
            {% if post.description %}
            <p class="post-excerpt">{{ post.description }}</p>
            {% else %}
            <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 50 }}</p>
            {% endif %}
            {% if post.external_link %}
            <a href="{{ post.external_link }}" class="read-more" target="_blank">Read more</a>
            {% elsif post.title contains "LADDER" %}
            <a href="https://arxiv.org/pdf/2503.00735" class="read-more" target="_blank">Read paper</a>
            {% else %}
            <a href="{{ site.baseurl }}/_site{{ post.url }}" class="read-more">Read more</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div> 
